:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #707070;
  --mild-white-color: #f6f7f9;
  --blue-color: #271ac1;
  --dark-blue-color: #213f72;
  --shadow-black: #09090991;
  --purple-color: #7f1e7b;
  --violet-color: #1c0c28;
  --purple-blue-color: #19073b;
  --grey-black-color: #00000012;
  --brown-color: #7f4129;
}

:root {
  --main-body-font: 'Poppins', sans-serif;
  --link-font-size: 0.9rem;
  --font-medium: 400;
  --normal-font-size: 0.938rem;
  --timer-font-size: 3rem;
  --timer-subtitle: 1.1rem;
  --heroinput-font-size: 0.875rem;
  --input-font-size: 1rem;
  --copyright-font-size: 1.25rem;
  --hero-font-size: 2.7rem;
}

:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}
